/* CSS ACCESSIBILITES, NE PAS TOUCHER */

* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.12em;
    word-spacing: 0.16em;
    box-sizing: border-box;
}

*:focus {
    border: 3px dashed #000000;
}

.sr-only {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* MISE EN PAGE */

/* Global */

body {
    background-color: #000000;
}

.wrapper {
    width: 100%;
    background-color: #F5BC28;
}

a, a:visited {
    color : inherit;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Entête */
#header {
    text-align: center;
    background-color: #dddddd;
    padding: 10px 0;
}

#img-container{
    background-image: url(https://devbadgerinden.github.io/personal-cv-online/img/avatar.jpg);
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

h1 {
    font-size: 1.5em;
}

#catchphrase {
    font-size: 1.2em;
}

/* Contenu */
#main {
    display: block;
    padding: 5px;
}

#left, #right {
    padding: 15px;
}

#left h2 {
    color: #F5BC28;
}

#left h2, #right h2 {
    text-transform: uppercase;
    font-size: 1.8em;
}

#left {
    color: #dddddd;
    background-color: #333;
    border-radius: 5px;
}

#right h3 {
    background-color: #ddd;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.role {
    font-style: italic;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills li {
    color: #dddddd;
    background-color: #333;
    padding: .5em;
    margin : .5em;
    border-radius: 5px;
}

.certifications li {
    margin: 5px 0;
}

/* Pied de page*/

#footer {
    text-align: center;
    background-color: #dddddd;
    padding: 10px
}

#footer p {
    font-size: .8em;
}

/* BREAK POINT */

@media only screen and (min-width: 1000px) {

    * {
        font-size: 16px;
    }

    #header {
        padding: 15px 0;
    }
    
    #img-container{
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 2em;
    }
    
    #catchphrase {
        font-size: 1.5em;
    }

    .wrapper {
        width: 90%;
        margin: auto;
    }

    #main {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    #left {
        width: 30%;
    }

    #right {
        width: 68%;
    }
}

@media only screen and (min-width: 1600px) {

    * {
        font-size: 18px;
    }

    #header {
        padding: 20px 0;
    }
    
    #img-container{
        width: 225px;
        height: 225px;
    }

    h1 {
        font-size: 3em;
    }
    
    #catchphrase {
        font-size: 2em;
    }

    .wrapper {
        width: 80%;
    }

    #left {
        width: 25%;
    }

    #right {
        width: 75%;
    }
}